In [17]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras
from keras.layers import Dense,Dropout

In [18]:
df=pd.read_csv('dataset/Churn_Modelling.csv')

In [19]:
df.head(2)

   RowNumber  CustomerId   Surname  CreditScore  ... HasCrCard IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619  ...         1              1        101348.88       1
1          2    15647311      Hill          608  ...         0              1        112542.58       0

[2 rows x 14 columns]

In [20]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [21]:
df1=pd.get_dummies(df,drop_first=True)

In [22]:
len(df1.columns)

12

In [23]:
x=df1.drop('Exited',axis=1)
y=df1['Exited']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [25]:
sc=StandardScaler()
sc.fit(x_train)

StandardScaler()

In [26]:
x_train1=sc.transform(x_train)
x_test1=sc.transform(x_test)

In [27]:
model=keras.Sequential([
    tf.keras.layers.Dense(units=10,input_dim=11,activation='relu',kernel_initializer='he_normal'),
    tf.keras.layers.Dense(Dropout(0.3)),
    tf.keras.layers.Dense(units=20,activation='relu',kernel_initializer='he_normal'),
    tf.keras.layers.Dense(Dropout(0.4)),
    tf.keras.layers.Dense(units=15,activation='relu',kernel_initializer='he_normal'),
    tf.keras.layers.(Dropout(0.2)),
    tf.keras.layers.Dense(units=1,activation='sigmoid',kernel_initializer='glorot_uniform')
])

model.compile(
    optimizer='adam',
    metrics=['accuracy'],
    loss='binary_crossentropy'
)

SyntaxError: invalid syntax (<ipython-input-27-352b4013011e>, line 7)

In [15]:
model.fit(x_train1,y_train,validation_split=0.33,batch_size=10,epochs=100)

NameError: name 'model' is not defined

In [130]:
model.evaluate(x_test1,y_test)

63/63 [==============================] - 0s 1ms/step - loss: 0.3955 - accuracy: 0.8405

[0.39551499485969543, 0.840499997138977]

In [131]:
pred=model.predict(x_test1)
pred=pred>0.5

In [132]:
from sklearn.metrics import confusion_matrix

In [133]:
cm=confusion_matrix(y_test,pred)

In [134]:
cm

array([[1452,  143],
       [ 176,  229]], dtype=int64)

# Hyper Parameter Optimization

In [25]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from keras.wrappers.scikit_learn import KerasClassifier
from keras.models import Sequential
from keras.layers import Dense,Activation,Flatten,BatchNormalization,LeakyReLU,Dropout
from keras.activations import relu,sigmoid

In [26]:
df=pd.read_csv('dataset/Churn_Modelling.csv')

In [27]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [28]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [29]:
df1=pd.get_dummies(df,drop_first=True)

In [30]:
len(df1.columns)

12

In [31]:
x=df1.drop('Exited',axis=1)
y=df1['Exited']

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [33]:
sc=StandardScaler()
sc.fit(x_train)

StandardScaler()

In [34]:
x_train1=sc.transform(x_train)
x_test1=sc.transform(x_test)

In [35]:
def mod(layer,activation):
    model=Sequential()
    for i,nodes in enumerate(layer):
        if i==0:
            model.add(Dense(nodes,input_dim=x_train1.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
                      
    model.add(Dense(units=1, kernel_initializer='glorot_uniform',activation='sigmoid'))
                      
    model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
    
    return model

In [36]:
model=KerasClassifier(build_fn=mod,verbose=0)

In [37]:
layer=[(20), (40, 20), (45, 30, 15)]
activation=[('sigmoid'), ('relu')]
param_grid={'layer': [(20), (40, 20), (45, 30, 15)],
            'activation': [('sigmoid'), ('relu')],
            'batch_size': [(128), (256)],
            'epochs': [30]}
grid=GridSearchCV(estimator=model,param_grid=param_grid,cv=5)
grid_result=grid.fit(x_train1,y_train)

C:\Users\ghild\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\ghild\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ghild\anaconda3\lib\site-packages\tensorflow\python\keras\wrappers\scikit_learn.py", line 223, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "C:\Users\ghild\anaconda3\lib\site-packages\tensorflow\python\keras\wrappers\scikit_learn.py", line 157, in fit
    self.model = self.build_fn(**self.filter_sk_params(self.build_fn))
  File "<ipython-input-35-c66e404553c6>", line 3, in mod
    for i,nodes in enumerate(layer):
TypeError: 'int' object is not iterable

  warnings.warn("Estimator fit failed. The score on this train-test"

In [21]:
 grid_result.best_score_

0.8558749914169311

In [22]:
grid_result.best_params_

{'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layer': (45, 30, 15)}

In [23]:
pred=grid.predict(x_test1)
pred=pred>0.5

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [18]:
confusion_matrix(y_test,pred)

array([[1540,   55],
       [ 213,  192]], dtype=int64)

In [19]:
accuracy_score(y_test,pred)

0.866